<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="UTF-8">
<title>所有圖片</title>
</head>
<body>
	<div th:replace="~{layout/navbar}"></div>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<h1>上傳圖片</h1>

               <table>
               <th:block th:each=" onePhoto : ${photoList}">
	               <tr>
	                  <td th:text="${onePhoto.photoName}"></td>
	                  <td><img width="300px" th:src="@{/photos/findImage(id=${onePhoto.id})}"></td>
	                  <td><a th:href="@{/cart/add(photoId=${onePhoto.id})}">+</a></td>
	               </tr>
               </th:block>
               </table>

				<div th:text="${addToCartOK} ? ${addToCartOK}"></div>
			</div>
		</div>
	</div>

</body>
</html>